@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="S" asp-action="IndexOfView"><h2>Localization in <strong>Shared</strong> of View</h2></a>
<a asp-controller="S" asp-action="IndexOfController"><h2>Localization in <strong>Shared</strong> of Controller</h2></a>
<a asp-controller="V" asp-action="Index"><h2>Localization in <strong>View</strong></h2></a>
<a asp-controller="C" asp-action="Index"><h2>Localization in <strong>Controller</strong></h2></a>
<a asp-controller="M" asp-action="Index"><h2>Localization in <strong>Model</strong></h2></a>